# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
test-results.xml

# Terraform
terraform/.terraform/
terraform/.build/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.zip

# OS / editor
.DS_Store
.vscode/
.idea/
