# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
test-results.xml

# Terraform
terraform/.terraform/
terraform/.build/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json

# OS / editor
.DS_Store
.vscode/
.idea/